normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main{
    background-color: beige;
}
.header{
    background-image: url(/Assets/Hero-bg.png);
    height: 300px;
    width: 100%;
    
    
}
.oo{
    text-align: center;
    color: #000;
    margin-top: 50px;
}
.pp{
    text-align: center;
    /* align-items: center; */
    background-color:#4E47FF ;
    border-radius: 5px;
    margin-left: 380px;
    padding: 5px 10px;
    color: rgb(191, 197, 201);
    font-size: .5em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
}
nav h4{
    color: #4E47FF;
}
nav li{
    list-style: none;
    /* background-color: #4E47FF; */
}
nav li button{
    background-color: #4E47FF;
    border-radius: 5px;
    color: rgb(191, 197, 201);
    padding: 5px 10px;
    font-size: .5em;
}
.div1 p{
    font-size:x-small;
    color: #414143;
}

.div1 button{
    background-color: #4E47FF;
    border-radius: 5px;
    color:rgb(191, 197, 201) ;
    padding: 5px 10px;
    font-size: .5em;
}
.sec1 img{
    border-radius: 15px;
    padding-top: 10px;
    
}
.sec1{
    display: flex;
    gap: 200px;
    align-items: center;
    margin: 50px 100px 50px 150px;
}

.sec2 h4{
    text-align: center;
    color: #1e1e1e;
    font-size: .85em;
}
.card-container{
    display: flex;
    gap: 50px;
    
    padding-left: 100px;
    margin:0 80px;

}    
.sec2{ border: 1px solid  #cccce6;
    background-color: #cccce6;
    margin: 0 100px 50px 100px;
    border-radius: 10px;
}
.sec2 h1{
    font-size:2em;
    color: #4E47FF;
    text-align: center;
    line-height: 0;
    /* background-color: #4E47FF; */
}
.sec2 p{
    font-size: .5em;
    color: #78787b;
    padding-bottom: 20px;
    margin-top: 0;
    line-height: 0;
}
nav h1{
    display: flex;
}
.sec3{
    text-align: center;
    border: 0px solid wheat;
    background-color:#e6dbdb84;
    margin: 80px 100px;
}
.sec3 h4{
    color: #000000d3;
    /* margin-top:20px ; */
    padding-top: 10px;
}
.sec3 p{
    font-size: xx-small;
    color:darkgrey;
    padding-bottom: 10px;
}
.sec3 img{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec3 button{
    background-color: #4E47FF;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: .5em;
    color: rgb(191, 197, 201);
}
.sec4{
    display: flex;
    gap: 100px;
    /* margin: 0 300px; */
    margin-left: 200px;
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
    align-items: center;
}
.sec4 h4{
    padding-top: 30px;
    font-size: 2em;
}
.sec4 button{
    font-size: .5em;
    padding: 5px 20px;
    color:rgb(191, 197, 201) ;
    background-color: #4E47FF;
}
.sec5{
    text-align: center;
    padding: auto;
    margin-top: 50px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: .6em;
    color: darkgrey;
    margin-left: 270px;
    padding-bottom: 30px;
    /* align-items: center; */
}
ul li a{
    text-decoration: none;
    color: #8987A1;
}
.sec5 p{
    font-size: .6em;
    color: #8987A1;

}
.sec5 h1{
    color: #4E47FF;
    font-size: 2em;
    margin:auto;
    /* margin-top: 0px; */
    /* padding:800p; */
    /* padding-top: 50px; */
}
.flex{
    display: flex;
    align-items: center;
}
.klk{
        text-align: center;
        color: #414143;
        font-family: serif;
        font-size: .95em;
    }
.sec25{
    display: flex;
    gap: 15px;
    margin-left: 100px;
    align-items: center;
}
.card{
    width: 195px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    
}
.sec25 h6{
    line-height:0px;
    font-size: .5em;
    color: #414143;

    }
    .sec25 .p{
        line-height: 0;
        font-size: .5em;
        color: #78787b;
    }
    .sec25 .circle{
        border-radius: 50%;
    }
    .sec25 h3{
        color: #1e1e1e;
        font-size: .8em;
    }
    .sec25 .ppp{
        font-size: .6em;
        color: #2d2d2f;
    }
    .img{
        line-height: 0;
        padding-top: 10px;
    }
    button:hover{
        background-color: #4E47FF;
    }
    
